rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // -- USERS --
    match /users/{userId} {
      allow read: if true;
      allow create, update: if true;
    }
    
    // -- RIDES --
    match /rides/{rideId} {
      allow read: if true;
      allow create, update: if true;
      
      // PRIVATE OTP DATA
      match /private/{document=**} {
        allow read, write: if true;
      }
      
      // RIDE CHAT
      match /messages/{messageId} {
        allow read, create: if true;
        allow update, delete: if false;
      }
    }
    
    // -- BOOKINGS --
    match /bookings/{bookingId} {
      allow create, read, update: if true;
    }
  }
}
